:root {
    --bg-color: rgba(219, 219, 255, 0.76);
    --white-flex: #f1f1f1;
    --primiry-color: #0A1128;
    --white-color: #ffffff;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    color: var(--primiry-color);
    box-sizing: border-box;
}

.main-bg {
    background-color: var(--bg-color);
}

.main-content {
    display: flex;
    width: 100%;
    min-height: 100vh;
    max-width: 120rem;
    margin: 0 auto;
    align-items: center;
}

.section {
    min-height: 100vh;
}

.card-product {
    height: 33.33%;
    width: 33.33%;
    background: var(--white-flex);
    margin: 0 auto;
    border-radius: 10%;
    padding: 2rem;
    margin: 2rem;
}

.card-product h2 {
    font-size: 3rem;
    text-align: center;
}

.card-product p {
    font-size: 1.8rem;
    padding: 0.5rem;
}

.card-product .price {
    font-weight: bold;
    font-size: 2.2rem;
}

.main-img-card {
    max-width: 70%;
    margin: 0 auto;
    /* padding: 1.5rem; */
}

.main-img-card img {
    width: 100%;
    border-radius: 3%;
    margin-bottom: 1.5rem;
}

.card-product button {
    font-size: 1.7rem;
    padding: 0.7rem;
    background: var(--primiry-color);
    color: var(--white-color);
    border: none;
    border-radius: 5%;
    transition: all 300ms linear;
}

.card-product button:hover {
    cursor: pointer;
    background-color: var(--white-color);
    color: var(--primiry-color);
    border: 0.1rem solid;
}

@media(max-width: px) {}